* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    text-align: center;
}

.header {
    background: #6989f0;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    padding: 10px;
    background: #6989f0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    background: #6989f0;
    padding: 10px;
    text-transform: uppercase;
}

.menu a:hover {
    background: #52515171;
}

.cuerpo {
    background: #eaeaea;
    padding: 30px;
    min-height: 430px;
}

.footer {
    background: #6989f0;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 50px;
}

.centrar_login {
    width: 500px;
    text-align: center;
    padding-top: 100px;
}

.producto {
    display: inline-block;
    width: 23%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    color: #333333;
    margin: 5px;
}

.img_producto {
    width: 404px;
    height: 500px;
}

.name_producto {
    padding: 10px;
    color: #ffffff;
    background: #6988f06b;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.precio {
    color: #63ca49;
    font-size: 20px;
    font-weight: bold;
}

.subir {
    position: relative;
    bottom: 10px;
}

.imagen_carro {
    width: 50px;
    height: 50px;
}

.text-green {
    color: #63ca49;
}

.fa-times{
    color: rgba(255, 0, 0, 0.692);
}

.fa-edit{
    color: #032eb9e7;
}